<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    イベント管理システムから新規登録がありました
    <P>
      <%= link_to(@str, @link) %>
    </P><br>
      参加ご検討願います。
  </body>
</html>