<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    イベント管理システムからお知らせがあります
    <P>
     <%=@str %><br> 
      <%=@link %>
    </P><br>
      ご確認願います。
  </body>
</html>