<% require "date" %>
<title>過去のイベント一覧</title>
<h1>過去のイベント一覧</h1>
<%= link_to "これからののイベント","/events/index" %>
<center>
<%= render partial: "index" %>
</center>
<%= will_paginate @event, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<br><br>

