<% require "date" %>
<title>これからのイベント一覧</title>
<center><p class="h2">これからのイベント一覧</p></center>
<div class="lead"></div>
<%= link_to "過去のイベント","/events/indexpast" %>
<center>
<%= render partial: "index" %>
</center>
<br><br>
</div>

