@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.kakomi-maru2 {
  margin: 1em auto;
  padding: 1em;
  width: 90%;
 border: 5px dotted #f09199; /*太さ・線種・色*/
 background-color: #fff; /* 背景色 */
 border-radius: 1px; /*角の丸み*/
 font-size: 16pt;
}
.kakomi-maru3 {
  margin: 1em auto;
  padding: 1em;
  width: 90%;
 border: 5px dotted #b0c4de; /*太さ・線種・色*/
 background-color: #fff; /* 背景色 */
 border-radius: 1px; /*角の丸み*/
 font-size: 12pt;
}
.mybox{
 background: none;
 border: 1px solid #f3cbd0;	/* 線の太さ・種類・色 */
 margin: 10px; /* 外側の余白 */
 padding: 20px; /* 内側の余白 */
 position: relative;
}
.mybox:after{
 background: none;
 border: 1px solid #f3cbd0;	/* 線の太さ・種類・色 */
 content: '';
 position: absolute;
 top: 3px;
 left: 3px;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.centerp { text-align: center; }

.leftp { text-align: left; }

.jumbotron{
background: #BCE1DF;
/*background-color:none !important;*/
}

body{background-color:#F0F0F0;}

.btn-flat-stripe {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  width: 300px;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  text-shadow: 0 0 5px white;
  padding: 0.5em 1em;
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  transition: .4s;
}  