<div class="center jumbotron">
<h1>Infos#index</h1>
<p>Find me in app/views/infos/index.html.erb</p>
<p><%= current_user.email+"でログイン中" if user_signed_in? %></p>
<a href="/users/sign_in">sign_in</a><br>
</div>
